@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.Account body,h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

.Account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.app-item {
  flex: 1 1 0;
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 450px;
}

.app-item:first-child {
  background-color: white;
  border-radius: 10px 0 0 10px;
}

.app-item:last-child {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}

.content-wrapper {
  width: 95%;
}

.Account.social-link-wrapper {
  text-align: center;
  line-height: 1;
  font-size: 14px;
  padding: 0;
  margin: 0rem auto 1.5rem;
}

.Account .social-link {
  border: 1px solid #dddddd;
  display: inline-flex;
  min-width: 40px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.main-heading {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

input[name="name"],
input[name="email"],
input[name="password"] {
  display: block;
  width: 80%;
  margin: 1rem auto;
  border: none;
  background-color: #eeeeee;
  padding: 12px;
}

.btn {
  border-radius: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 40%;
  margin: 1rem auto;
  min-width: 100px;
  cursor: pointer;
}

.submitBtn {
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
}

.signBtn {
  border: 1px solid white;
}
