.details__head h1 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}

.details__head {
  text-align: center;
}

.details__head p {
  font-family: "Nunito", sans-serif;
  padding-right: 120px;
  padding-left: 120px;
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

.details__boxed {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 44px;
  background-color: rgba(53, 58, 77, 0.8);
  border-radius: 8px;
  margin: 50px;
  display: grid;
  grid-gap: 45px;
  padding-left: 50px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.details__box {
  width: 80%;
  margin: 0 0 44px;
  border-radius: 18px;
  margin: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  align-items: center;
}

.details__box h1 {
  font-family: "Nunito", sans-serif;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2db6fa;
}

.details__box p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.details__button {
  align-items: center;
  margin-left: 470px;
  margin-bottom: 30px;
}

button.about.btn.pointer {
  text-transform: capitalize;
  width: 180px;
  height: 55px;
  font-size: 18px;
  transition: .4s ease;
  background-color: blueviolet;
  border-radius: 20px;
  cursor: pointer;
}
